  <div class="container">
<p id="notice"><%= notice %></p>
  
    <div class='row align-items-center' %>



<h1>Produces</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Variety</th>
      <th scope="col">Description</th>
      <th scope="col">Headline</th>
      <th scope="col">Points</th>
      <th scope="col">Price</th>
      <th scope="col">Unit</th>
      <th scope="col">Avail?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produces.each do |produce| %>
      <tr>

        <td><%= produce.name %></td>
        <td><%= produce.variety %></td>
        <td><%= produce.description %></td>
        <td><%= produce.headline %></td>
        <td><%= produce.points %></td>
        <td><%= produce.price %></td>
        <td><%= produce.unit %></td>
        <td><%= produce.available %></td>
        <td><%= link_to 'Show', produce, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_produce_path(produce), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', produce, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produce', new_produce_path, class: 'btn btn-primary' %>

</div>
</div>