  <div class="container">
<p id="notice"><%= notice %></p>
  
    <div class='row align-items-center' %>

<%= link_to 'Edit', edit_produce_path(@produce), :class => 'btn btn-info mr-2' %> 
<%= link_to 'Back', produces_path, :class => 'btn btn-danger' %>
  </div>
<p>
  <strong>Name:</strong>
  <%= @produce.name %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @produce.variety %>
</p>


<p>
  <strong>Description:</strong>
  <%= @produce.description %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @produce.headline %>
</p>

<p>
  <strong>Points:</strong>
  <%= @produce.points %>
</p>

<p>
  <strong>Price:</strong>
  <%= @produce.price %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @produce.unit %>
</p>


<p>
  <strong>Available:</strong>
  <%= @produce.available %>
</p>



<p>  
  <%= image_tag @produce.thumb %>
</p>


</div>

</div>